#menu li > a {
  color: #e4e4e4;
  font-weight: bold;
}
#menu li > a.active {
  text-decoration: underline !important;
}

.main-a {
  width: 100%;
  margin-left: 20px;
}
.main-a .morning {
  margin-left: -30px;
}
.main-a .menuSearchCenter .morning .hello {
  color: #898166 !important;
  font-weight: bold;
  text-decoration: solid 1px #898166;
}

/*---newjob---*/
.main_job {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #f0f0f0;
}
.main_job .row {
  margin-bottom: 20px;
}
.main_job .title {
  font-size: 2em;
  font-weight: bold;
  color: #898166;
  border-bottom: 2px solid;
}
.main_job #add_job {
  margin-top: 20px;
}
.main_job .title-useracc {
  border-bottom: 1px solid #898166;
}

#addsearch {
  background-color: #898166;
  border: none;
  border-radius: none;
  margin-bottom: 20px;
  color: #fff !important;
}

.fa-search-cus {
  position: relative;
  top: -25px;
  left: 100px;
}

/*---endnewjob---*/
/*---search center---*/
.menuSearchCenter .lang > a,
.menuSearchCenter .lang > a:hover {
  color: #898989;
}
.menuSearchCenter .nav-link,
.menuSearchCenter .nav-link:hover {
  color: #898989;
  margin-right: 30px;
}
.menuSearchCenter .name {
  padding-top: 15px;
}
.menuSearchCenter .breakline {
  border-bottom: 1px solid #898166;
}

.side-menu-searchcenter {
  background-color: #414141 !important;
}

.bg-wewantu-searchcenter .name-searchcenter {
  padding-top: 40px;
  text-align: right;
  font-weight: bold;
}

.bg-wewantu-searchcenter .logo-searchcenter {
  padding-top: 30px;
}
.bg-wewantu-searchcenter .nav-pills-searchcenter {
  --bs-nav-pills-link-active-bg: unset !important;
}

.addjob-searchcenter .textSearchCenter {
  margin-left: 20px;
  color: #414141;
}

.table-searchcenter td {
  background-color: unset !important;
}

.main_wewantu_das {
  margin-top: 1em;
  margin-bottom: 1em;
}

.info {
  background: url("../../images/bg-wewantu.svg") #fff no-repeat bottom right;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #414141;
  font-size: 1.1em;
}
.info .avatar {
  border: 3px solid #898166;
  border-radius: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.info .name {
  font-weight: bold;
}
.info .content {
  height: 210px;
  overflow: scroll;
  overflow-x: hidden;
}

.info button {
  background-color: #898166;
  color: #f0f0f0;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 1em;
}

.main-das {
  background-color: #f0f0f0;
}
.main-das .navbar-nav .nav-item .nav-link {
  /* font-weight: bold; */
  color: #414141;
}

/*---end search center---*/
/*---WATCHLIST---*/
.info_watchlist {
  padding-right: 10px;
  padding-bottom: 10px;
  color: #414141;
  font-size: 16px;
}
.info_watchlist .avatar {
  border: 3px solid #898166;
  border-radius: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.info_watchlist .name {
  font-weight: bold;
  text-align: center;
}
.info_watchlist .watchlist_content {
  height: 170px;
  overflow: scroll;
  overflow-x: hidden;
  border: solid 1px #707070;
  background-color: #e4e4e4;
}
.info_watchlist .form-control {
  margin-bottom: 10px;
}

.table {
  background-color: #f0f0f0 !important;
  --bs-table-bg: #f0f0f0;
}

.table th {
  font-weight: 400;
  padding: 2px 8px;
}

.table tr:first-child th {
  font-weight: 600;
}

.table tr {
  border-bottom: solid 1px #bbb;
}

.table td a img {
  margin-right: 1em;
}

.table .table-watchlist {
  --bs-table-bg: none !important;
}

/*---END WATCHLIST---*/
.scroller {
  height: calc(100vh - 320px);
  overflow-y: scroll;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.modal-content {
  border-radius: inherit;
  width: 58vw;
  margin: auto;
}

.modal-header {
  border: none;
  padding-left: 30px;
}

.modal-header-line {
  border: solid 1px #BFBDBD;
  margin-right: 40px;
  margin-left: 30px;
}

.info-detailModal {
  background-color: #fff;
  padding-bottom: 10px;
  color: #707070;
  font-size: 14px;
}
.info-detailModal .pleft {
  border-right: 1px solid #BFBDBD;
}
.info-detailModal .avatar {
  border: 3px solid #898166;
  border-radius: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.info-detailModal .name {
  font-weight: bold;
  font-size: 18px;
}
.info-detailModal .content {
  height: 190px;
  overflow: scroll;
  overflow: hidden;
  font-size: 16px;
}
.info-detailModal .about {
  margin-left: 30px;
}
.info-detailModal .template {
  border-top: 1px solid #BFBDBD;
  margin-top: 30px;
  margin-right: 10px;
}
.info-detailModal .btn-newtemplate {
  margin-top: 20px;
  margin-bottom: 20px;
}

.check {
  display: inline-block;
  vertical-align: top;
}

textarea {
  border: none !important;
  background-color: #f8f8f8;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.modal-footer {
  position: relative;
  bottom: 0;
  right: 0;
  border: none !important;
}

.w-title {
  border-bottom: 2px solid #898166;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 25px;
  font-weight: bold;
}

.w-title .w-title-r {
  padding-top: 5px;
  float: right;
}

.w-title .w-title-l {
  font-size: 20px;
}

.w-checkall {
  margin-right: -3px;
  margin-left: 12px;
  margin-bottom: 10px;
}

/*-----mesagecenter-----*/
.main-mes {
  background-color: #f0f0f0;
}
.main-mes .navbar {
  border: none;
}
.main-mes .title {
  font-size: 20px;
  color: #898166;
  margin-left: 20px;
  font-weight: bold;
}
.main-mes .search-container {
  text-align: right;
}
.main-mes .avatar {
  margin-top: .5em;
  margin-left: .25em;
  /* margin-bottom: 5px; */
}
.main-mes .mess-l {
  color: #414141;
  font-size: 16px;
}
.main-mes .content {
  background-color: #fff;
  margin-left: 20px;
}
.main-mes .content ul {
  list-style-type: none;
  margin-left: -20px;
}
.main-mes .content li {
  margin-top: 10px;
  border-top: #BFBDBD 1px solid;
  list-style-type: none;
}
.main-mes .s-center li {
  background-color: #f8f8f8;
  border-left: #BFBDBD 1px solid;
  border-right: #BFBDBD 1px solid;
  margin: 0;
  padding: 0;
}
.main-mes .mess-l .active {
  font-weight: bold;
  border-bottom: 1px solid #414141;
}
.main-mes .bookmark-red {
  color: #DB0000;
}
.main-mes .bookmark-orange {
  color: #E56A00;
}
.main-mes .bookmark-green {
  color: #008930;
}
.main-mes .rs-right .title {
  font-weight: bold;
  color: #414141;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-mes .rs-right .content-m {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  border-top: 1px solid #BFBDBD;
}
.main-mes .menuMessageCenter {
  font-weight: 600;
}
.main-mes .menuMessageCenter .nav-link-MessageCenter {
  font-weight: 400;
  color: #414141;
}
.main-mes .nav-pills li a {
  color: #e4e4e4 !important;
  font-weight: bold;
}

.ant-select-selector {
  border: none !important;
  background: none !important;
}

#addcredit {
  background-color: #898166;
  border: none;
  border-radius: none;
  margin-bottom: 20px;
  color: #fff !important;
}

#addcredit-grey {
  background-color: #b5b5b5;
  border: none;
  border-radius: none;
  margin-bottom: 20px;
  color: #fff !important;
}

.credits-info {
  background: #fff no-repeat bottom right;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  color: #414141;
  font-size: 18px;
}
.credits-info .avatar {
  border: 3px solid #898166;
  border-radius: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.credits-info .name {
  font-weight: bold;
}
.credits-info .content {
  height: 210px;
  overflow: scroll;
  overflow-x: hidden;
}

.credits-content {
  text-align: center;
  font-size: 10px;
}
.credits-content .credits-amount {
  font-size: 60px;
  font-weight: bold;
}
.credits-content .credits-price {
  font-size: 15px;
  font-weight: bold;
}

.account-setting-left {
  margin-left: 20px;
  width: 45%;
}
.account-setting-left .setting-title {
  font-size: 12px;
  font-weight: bold;
  color: black;
}
.account-setting-left .line1 {
  background: #fff;
  padding: 20px;
}

.account-setting-right {
  margin-left: 60px;
  width: 45%;
}
.account-setting-right .setting-title {
  font-size: 12px;
  font-weight: bold;
  color: black;
}
.account-setting-right .line1 {
  background: #fff;
  padding: 20px;
}

#managesetting {
  width: 60%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.useradmin {
  background: #fff;
}
.useradmin .setting-title {
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin: 10px;
}
.useradmin .useradmin-right .line1 {
  height: 21%;
}
.useradmin .useradmin-right .form-check-label {
  font-size: x-small;
}
.useradmin .avatar {
  max-width: 50px;
}

.payments {
  background: #fff;
  padding: 10px;
  margin-bottom: unset;
}
.payments .payments-title {
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin: inherit;
}
.payments .line1 {
  padding-right: 10px;
}

.invoice .details {
  color: black;
}

.text_addjobs {
  color: #414141;
  font-size: 20px;
  font-size: 1.35em;
  font-weight: bold;
  text-decoration: solid 1px #414141;
  border: none;
  background: none;
  position: relative;
  margin-bottom: 0.75em;
}
.text_addjobs .text {
  margin-left: 2em;
}

.text_addjobs img {
  position: absolute;
  margin-top: -3px;
  width: 20px;
  height: auto;
}

.ant-checkbox-inner {
  border: #707070 solid 1px !important;
  border-radius: 0 !important;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-checkbox-checked .ant-checkbox-inner {
  background-color: #707070 !important;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-checkbox-wrapper {
  color: #BFBDBD !important;
}

.searchcenterselect {
  background: none !important;
  border: none !important;
}
.searchcenterselect .ant-select-selection-item {
  color: #898166;
  font-weight: bold;
  text-decoration: solid 1px #898166;
}

.popup-infor {
  margin: 0 7% 7% 0;
}

.name {
  padding: 1em 0 1em 1.35em;
  font-size: 20px;
  font-weight: 600;
  color: var(--gold);
}

.write-msg {
  padding-top: 30px;
  border-bottom: 1.5px groove;
  padding-bottom: 30px;
  border-top: 1.5px groove;
}

.scroll-searchcenter {
  width: -webkit-fill-available;
  border-style: solid !important;
  border-color: #BFBDBD !important;
  border-width: 0.5px !important;
}

.details {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1.5px groove;
}

.about {
  border-left: 1.5px groove;
  padding-left: 5%;
  padding-right: 5%;
}

.about-1 {
  border-left: 1.5px groove;
}

.popup-infor-1 {
  border-bottom: 1.5px groove;
  padding-bottom: 2%;
}

.profile-search {
  font-size: 11px;
  font-weight: 600;
}

.button-search {
  width: 100%;
  margin: 0.5em 2em 0.5em 0;
}

.bold span {
  font-weight: 600;
}

.gray span, .gold {
  color: var(--gold);
}

.hide {
  display: none;
}

.rating {
  margin: 1em 0;
}

.rating svg {
  margin-right: 0.5em;
}

.ant-modal-title {
  text-transform: uppercase;
}

.loc {
  margin: 0.35em 0;
}

.loc img {
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.gold h1,
.gold h2,
.gold h3,
.gold h4 {
  color: var(--gold);
}

/*# sourceMappingURL=style-das.css.map */
